.back2{
    /*background: rgba(0, 0, 0, 0.5);*/
    margin: 2%;
    opacity: 0.8;
    padding: 2%;
}

.back{
    background-image: url("../images/slide2_blur.png") ;
    background-repeat: no-repeat;
    width: 100%;
    height: 770px;
    background-size:cover ;
    padding: 5%;
}

.discount-div{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding: 2%;
    height: 400px;
    background-color: white;
    color: black;
    text-align: center;
}

.scanning-div{
    background: url('../images/scanning.jpg');
    background-repeat:no-repeat ;
    height: 500px;
}

.tux-div{
    background: url('../images/tux.jpg');
    background-repeat:no-repeat ;
    height: 450px;
}

.process-div{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding: 2% 30% 2% 30%;
    height: auto;
    background-color: #3c4550;
    color: white;
    text-align: center;

}
.custom-div {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding: 2% 30% 2% 30%;
    height: auto;
    background-color: #3c4550;
    color: white;
    text-align: center;
    margin-top: 3%;
    opacity: 0.6;
}
.discount-txt{
  font-size: 140px;
   letter-spacing: 4px;
    color: grey;

}

.discount-down{
    font-size: 60px;
    letter-spacing: 7px;
    color: black;
}
.financing-txt{
    color: white;

}
.financing-txt-margin.financing-txt{
    margin-top: 5%;
}

.financing-txt ul li{
    margin-top: 5%;
    padding: 5px;
    letter-spacing: 3px;
    word-spacing: 5px;
    width: 50%;
}

.scanning-txt{
    color: white;

}
.scanning-txt ul li:not(:first-child){
    margin-top: 2%;
    padding: 5px;
    letter-spacing: 2px;
    word-spacing: 2px;
    width: 50%;
}

.scanning-txt ul li:first-child{

    letter-spacing: 3px;
    word-spacing: 5px;
    font-weight: bold;
    font-size: 18px;
    width: 50%;
}

.process-txt{
    color: white;

}

.process-txt ul li{

    letter-spacing: 3px;
    word-spacing: 5px;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    margin-top: 2%;
    text-align: left;
}
.process-li{
    font-size: 13px;
}

.shirt-li{
    font-size: 13px;
    margin-top: 10%;
    margin-bottom: 10%;
}