
.main-header{
    padding: 7px;
    background-color: #000;
    /*height:100px;*/
}
.main-ul{
    padding: 5px;
}
.no-gutter{
    padding: 0px;
    margin: 0px;
}
.header-txt{
    color:grey;
    padding: 3px;
}
.right-header{
  text-align: right;
}
.header-img{
    color: white;

}
.header-right-size.header-txt{
    /*font-size: 14px;*/
    padding: 0px;
    letter-spacing: 2px;
}
.book-appointment{
    background-color: #252525;
    /*border-left: 1px grey solid;*/
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.book-appointment-txt{
    text-align: center;
    color: whitesmoke;
    border-bottom: 1px solid grey;
}
.guest-txt{
    text-align: center;
    color: whitesmoke;

}
.main-header1 {
    padding: 7px;
    color: white;
    /*float: left;*/
    text-align: center;
    white-space: nowrap;

}

.main-header1:hover{
 background-color: black;
 color: white;
 cursor: pointer;
    transition: 0.4s;
}

.back{
    background-image: url("../images/slide2_blur.png") ;
    background-repeat: no-repeat;
    width: 100%;
    height: 730px;
    background-size:cover ;
}
.cover{
    padding: 2%;
    /*background-color: black;*/
}
.cover-body{
    /*background-color: black;*/
    /*opacity: 0.45;*/
    background: rgb(0,0,0,0.32);
    padding: 2% 4% 1% 4%;
}
.cover-title{
    color: white;
    border-bottom: 2px red solid;
    letter-spacing: 10px;
    word-spacing: 10px;
    text-align: center;
    padding-bottom: 2px;
    font-weight: 500;
}
.cover-desc{
    color:white;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 14px;
    font-weight: 300;
}
.cover-desc.cover-desc0{
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 0px;
    word-spacing: 0px;

}
.custom-btn{
    background-color: white;
    border-radius: 7px;
    color: black;
    padding: 1%;
    width: 175px;
}
.custom-btn:hover{
    background-color: black;
    color: white;

}
.main-footer{

    color: white;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;

}
.main-footer:hover{
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 2px;
}
.footer-back{
    background-color: #252525;
    text-align: center;
    padding: 1%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    white-space: nowrap;

}
.footer-panel{
    background-color: #000000;
    padding-bottom: 10px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

}
.footer-title{
    color:white;
}
.email-box{
    background: black none repeat scroll 0 0;
    color: white;
    padding: 6px;
    text-align: left;
    width: 67%;
}

.href-txt{
    text-decoration: none;
    color:white;
}

.href-txt:hover{
    text-decoration: none;
    color:white;
}

.index-div{
    background: url('../images/suit_index.jpg');
    background-repeat:no-repeat ;
    height: 380px;
}

.index-txt{
    color: white;

}
.index-txt ul li:not(:first-child){
    margin-top: 2%;
    padding: 5px;
    letter-spacing: 2px;
    word-spacing: 2px;
    /*width: 50%;*/
}

.index-txt ul li:first-child{

    letter-spacing: 3px;
    word-spacing: 5px;
    font-weight: bold;
    font-size: 18px;
    /*width: 50%;*/
}

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
    .header-child{
        text-align: right;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .header-child{
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .header-child{
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}