.pricing-back{
    background-color: #3c4550;

}
.pricing-txt{
    color: white;
    text-align: center;
}
.pricing-margin.pricing-txt{
    margin-top: 2%;
    margin-bottom: 7%;
}
.pricing-spacing.pricing-txt{
    letter-spacing: 2px;
    word-spacing: 3px;
}
.pricing-txt ul li{
    padding-right: 20px;
    letter-spacing: 1px;
}
.pricing-txt ul li:first-child{
    text-decoration: underline;

}

.pricing-custom.pricing-txt{
    margin:2% 0 2% 0;
    font-size: 22px;
    letter-spacing: 2px;
}
.menu-item{
    padding:2% 0 2% 0;
}
.menu-title{
    font-weight: bolder;
    text-align: left;
    color: white;
    letter-spacing: 2px;
}
.menu-desc{
    color: white;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.custom-btn{
    background-color: white;
    border-radius: 7px;
    color: black;
    padding: 1%;
    width: 175px;
}
.custom-btn:hover{
    background-color: black;
    color: white;

}
.back1{
    background: rgba(0, 0, 0, 0.5);
    margin: 2%;
    opacity: 0.8;
    padding: 2%;
}