@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@font-face {
    font-family: anurati;
    /*src: url(font/Anurati-Regular.otf);*/
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    /*height: 100%;*/
    /*width: 100%;*/
    /*overflow: hidden;*/
}

body {
    font-family: 'anurati'!important;
    /*position: relative;*/
    /*background: rgba(0, 0, 0, 0) url("../img/ptn.png") repeat scroll 0 0;*/
}

.in-page {
    min-height: 500px;
}

.main {
    position: absolute;
}

a {
    color: #1b5a7c;
}

a:hover, a:focus {
    color: #1b5a7c;
}

.btn-cyan {
    background-color: #1b5a7c;
    color: #fff;
}

.btn-cyan:hover {
    color: #fff;
    opacity: 0.9;
}

.form-control:focus {
    border-color: #1b5a7c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(24, 204, 162, 0.6);
    outline: 0 none;
}

.min-height {
    min-height: 500px;
}

.login-screen {
    /*background-image: url("../../images/slide3.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.login-screen:before {
    content: "";
    /*background: rgba(0,0,0, 0.5);*/
    /*background-image: url("../../images/slide3.jpg");*/

    position: absolute;
    width: 100%;
    /*height: 100%;*/
    top: 0;
    left: 0;
}

.login-center {
    text-align: left;
}

.login {
    width: 320px;
    color: #fff;
}
@media all and (max-width: 580px) {
	.login-form{
        width:100%!important;
    }
	.navbar-collapse {
		background: rgb(34, 34, 34) none repeat scroll 0 0 !important;
	}
	.navbar-brand.text-uppercase img {
    margin-left: 0 !important;
}
}
.first-rows{float:left;width:45%;}
.secondr-rows{float:right;width:45%;}
.login .login-form {
    background: rgb(34, 34, 34, 0.65) none repeat scroll 0 0;
    border: 2px solid;
    left: 0;
    padding: 27px;
    position: fixed;
    top: 60px;
    width: 600px;
}
.fa{color:white;}
.login label {
    color: #fff;
}

.login-form .input-group .form-control {
    background: none;
    height: 44px;
    color: #ddd;
}

.login-form .input-group .input-group-addon {
    background: none;
}

.login-form .input-group .input-group-addon .glyphicon {
    color: #1b5a7c;
}

.login-form .input-group .form-control::-moz-placeholder {
    color: #fff;
    opacity: 0.3;
}

.login .sign-btn input.btn {
    background: #1b5a7c;
    border-color: #1b5a7c;
    color: #fff;
    width: 180px;
}

.login .sign-btn a {
    text-decoration: none;
}

.login .checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login .forgot {
    display: inline-block;
    margin: 20px 0;
}
.navbar-inverse {
    background: rgba(34, 34, 34, 0.5) none repeat scroll 0 0 !important;
    height: 90px;
	border:none!important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff !important;
    font-family: "anurati";
    font-size: 14px;
    font-weight: 600 !important;
    line-height: 4;
}
.navbar-right {
    margin-right: 151px!important;
}
.navbar-inverse .navbar-nav > li > a:hover{color:#965331!important;}